/*
--------BARVY-------
#F2BEsC
#F28705
#F2A341
#F27405
#D95204
#white
#black
#E5E5E5 (šedá)
*/

* {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainMenu {
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.item {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  border-top: 1px solid #d95204;
  overflow: hidden;
}
.btn {
  display: block;
  padding: 15px 20px;
  background-color: #d95204;
  color: #fff;
  position: relative;
}
.btn:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #d95204;
  right: 15px;
  bottom: -10px;
  z-index: 9;
}
.btn i {
  margin-right: 10px;
}
.subMenu {
  background: rgb(242, 190, 92);
  overflow: hidden;
  transition: max-height 0.7s;
  max-height: 0;
}
.subMenu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid rgb(242, 190, 92);
  position: relative;
}
.subMenu a:before {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:before {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  left: 0;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-left: 11px solid #d95204;
  border-bottom: 24px solid transparent;
}
.subMenu a:after {
  content: '';
  opacity: 0;
  transition: opacity 0.3s;
}
.subMenu a:hover:after {
  content: '';
  position: absolute;
  height: 0;
  width: 6px;
  right: 0px;
  top: 0;
  opacity: 1;
  /* background-color: #d8d824; */
  border-top: 24px solid transparent;
  border-right: 11px solid#d95204;
  border-bottom: 24px solid transparent;
}
.subMenu a:hover {
  background: rgb(242, 190, 92);
  background: -moz-linear-gradient(
    top,
    rgb(242, 190, 92) 0%,
    rgb(242, 190, 92) 50%,
    rgb(242, 190, 92) 51%,
    rgb(242, 190, 92) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(242, 190, 92) 0%,
    rgb(242, 190, 92) 50%,
    rgb(242, 190, 92) 51%,
    rgb(242, 190, 92) 100%
  );
  background: linear-gradient(
    rgb(242, 190, 92) 0%,
    rgb(242, 190, 92) 50%,
    rgb(242, 190, 92) 51%,
    rgb(242, 190, 92) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
  transition: all 0.3s;
  border-bottom: 1px solid #d95204;
}
.subMenu a:last-child {
  border: none;
}
.item:target .subMenu {
  max-height: 10em;
}

.wrapper__ome{
  position: relative;
  right: 0;
  left: 0;
  transform: translate(0%, 0%);
  display: block;
}

.wrapper__ome .mainMenu{
  display: inline;
}

h2, h3{
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

.osoba{
  padding: 15px;
}
.medajlonek{
  display: flex;
  flex-direction: column;
}
.medajlonek img{
  width: 100%;
  border-radius: 0% 100% 0% 100% / 51% 58% 42% 49%   ;
}

.osoba p{
 padding-left: 10px;
 padding-right: 10px;
}
